/********** GLOBAL *********/
body {
  background: #333333;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana;
  font-size: 14px;
  text-align: center;
  margin: 0 0 15px 0;
}

a {
  color: #E9AB59;
  font-style: normal;
  text-decoration: none;
}
a:hover {color: #35BC41;}

p {margin-bottom: 1em;}

h1, h2, h3, h4, h5, h6 {
  color: #6D9CBE;
  margin-bottom: 1em;
}
h1 {font-size: 150%;}
h2 {font-size: 130%;}
h3 {font-size: 110%;}
h4 {font-size: 100%;}

hr {color: #FFF;}

ul {list-style: disc;}
li {margin: 0 0 5px 1em;}

/* Forms */
form label {
  display:block;
  font-weight: bold;
  margin: 0 0 2px 0;
}
form label.inline {display: inline;}

form input.normal, form textarea.normal {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 15px;
  padding: 2px;
}

/********** MAIN *********/
h1.title {margin: 0 0 0.5em 0;}
h3.group-header {
  color: #56C760;
  font-size: 14px;
  margin-bottom: 5px;
}

span.slash {
  font-size: 20px;
  font-weight: bold;
  margin: 0 3px 0 3px;
}

/* Structure */
.wrapper {
  margin: 0 auto;
  text-align: left;
  width: 1000px;
}

#header {margin: 0 auto 15px auto;}

#copyright {
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
  margin-top: 15px 0px 0px 0px;
  text-align: center;
}

.box {
  background: #DBDBDB;
  margin: 0 0 15px 0;
  padding: 10px;
  -moz-box-shadow: 0px 4px 24px #1e1e1e;
  -webkit-box-shadow: 0px 4px 24px #1e1e1e;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* Forms */
form input#regex {
  font-family: Arial, "MS Trebuchet", sans-serif;
  width: 861px;
}

form input#regex-options {width: 50px;}

form input#replace-data {width: 968px;}

form #replace-input {margin-top: 5px;}

form #regex-options-python {text-align: right;}
form #regex-options-python label {
  display: inline;
  vertical-align: middle;
}

form .extra-fields {margin-top: 5px;}

form .extra-fields .data {float: left;}
form .extra-fields .data textarea {
  height: 200px;
  width: 455px;
  resize: none;
}
form .extra-fields .response {
  float: right;
  margin: 0 0 0 15px;
  width: 500px;
}

#response {
  background: #333333;
  border: 1px solid #575757;
  color: #FFFFFF;
  font-weight: bold;
  min-height: 185px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
  #response hr {color: #333333;}

  #response .highlight {
  background: #E59B3A;
  color: #000000;
  padding: 0 2px 0 2px;
  }
  #response .match {color: #56C760;}
  #response .no-match {color: #f96666;}

.ref-table {
  float: left;
  font-size: 12px;
}
  .ref-table code {font-weight: bold;}
  .ref-table tr td {padding: 5px 20px 5px 5px;}

#quick-ref-information {font-weight: normal;}
  #quick-ref-information .matrix {
    float: left;
    width: 450px;
  }
    #quick-ref-information .matrix table tr td {padding: 5px 0;}
    #quick-ref-information .matrix code {font-weight: bold;}
    #quick-ref-information .matrix .code {padding: 0 15px 0 0;}
  #quick-ref-information .more {float: left; margin: 0 0 0 15px;}

  #quick-ref-information .more a {color: #44769D;}
  #quick-ref-information .more a:hover {color: #35BC41;}

/********** HELPERS *********/
.clr {clear: both;}
.hidden{display: none;}